<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h3 class="mb-3">Selecciona una figura para mostrar</h3>
      <div class="form-group">
        <select class="form-control" (change)="changeShape($event.target)">
          <option *ngFor="let shape of shapes" [value]="shape">
            {{ shape.charAt(0).toUpperCase() + shape.slice(1) }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <h3 class="mb-3">Selecciona un color</h3>
      <div class="form-group">
        <select class="form-control" (change)="changeColor($event.target)">
          <option *ngFor="let color of colors" [value]="color.value">
            {{ color.name }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col text-center">
      <button class="btn btn-danger mr-3" (click)="stopAnimation()">Detener Animación</button>
      <button class="btn btn-success" (click)="startAnimation()">Reanudar Animación</button>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <canvas #canvas class="border"></canvas>
    </div>
  </div>

  <!-- Enlaces a GitHub -->
  <div class="row mt-4">
    <div class="col text-center">
      <h4>Repositorios en GitHub Ricardo Castillo:</h4>
      <p>
        Frontend: <a href="https://github.com/ricardocastilloisc/angular-threejs-app" target="_blank">angular-threejs-app</a>
      </p>
      <p>
        Backend: <a href="https://github.com/ricardocastilloisc/fastapi-backend" target="_blank">fastapi-backend</a>
      </p>
    </div>
  </div>
</div>

<style>
  canvas {
    width: 100%;
    height: 400px; /* Ajusta el tamaño del canvas */
    display: block;
  }
</style>
